*{
	margin:0;
	padding:0;
}
body{
	background-color: #EC9;
}
#main{
	width:1000px;
	height:475px;
	margin:0 auto;
}
ul{
	list-style:none;
}
li{
	margin-bottom:5px;

}
#left{
	width:375px;
	height:475px;
	float:left;
}
#right{
	width:210px;
	height:292px;
	float:right;
}
#text{
	border:none;
}


