*{
	margin:0;
	padding:0;
}
body{
	position:relative;
}
#lEye{
	position:absolute;
	top:100px;
	left:80px;
}
#lDot{
	position:absolute;
	top:105px;
	left:85px;
	height:4px;
	width:4px;
}
#rEye{
	position:absolute;
	top:100px;
	left:120px;
}
#rDot{
	position:absolute;
	top:105px;
	left:125px;
	height:4px;
	width:4px;
}